* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 400px;
    background-color: orange;
    background-image: url('../image/header1.jpg');
    background-position: center;
    background-size: 110% 150%;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 1000px;
    background-color: red;
}

footer {
    width: 100%;
    height: 300px;
    background-color: black;
}