* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 400px;
    background-color: orange;
    background-image: url('../image/header1.jpg');
    background-position: center;
    background-size: 110% 150%;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(238, 238, 238, 0.3);
    box-shadow: 1px 3px 5px rgba(246, 0, 0, 0.7);
}

nav .brand {
    width: 20%;
    height: 100%;
    float: left;
}

nav .brand a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 3em;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}

nav .navbar {
    width: 70%;
    height: 100%;
    background-color: yellow;
    float: right;
}

main {
    width: 100%;
    height: 1000px;
    background-color: red;
}

footer {
    width: 100%;
    height: 300px;
    background-color: black;
}