:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #f00;
    --color-01: #6c6a6a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 330px;
    background-color: var(--color-black);
    overflow: auto;
}

.brand {
    width: 100%;
    height: 80px;
    box-shadow: rgba(251, 249, 249, 0.45) 0px 25px 20px -20px;
    margin-bottom: 10px;
}

.brand a img{
    width: 200px;
    height: auto;
    padding: 13px 20px;
}

.nav {
    width: 100%;
    height: 224px;
}

.nav .nav-list {
    display: block;
    margin: 1px;
}

.nav .nav-list .nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-red);
}

.nav .nav-list .nav-item:hover {
    background-color: var(--color-01);
}

.nav .nav-list ul {
    display: none;
    list-style-type: none;
}

.nav .nav-list ul li {
    background-color: #571616;
    margin: 1px;
}

.nav .nav-list ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-white);
}

.nav .nav-list ul li a:hover {
    background-color: var(--color-01);
}

.nav .nav-list:hover ul {
    display: block;
}

.nav .nav-list:last-child .nav-item {
    border: none;
}

.active {
    background-color: var(--color-01);
}

@media (min-width: 748px) {
    .navbar {
        height: 40px;
    }
    
    .brand {
        width: 17%;
        height: 100%;
        float: left;
        background-color: #571616;
    }

    .brand a img {
        width: 130px;
    }
    .nav {
        width: 80%;
        height: 100%;
        float: right;
    }

    .nav .nav-list {
        display: inline-block;
    }

    .nav .nav-list .nav-item {
        width: 80px;
        border-bottom: none;
        padding: 12px 10px;
        text-align: center;
        font-size: 0.8em;
    }
}
