ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: url('../icon/favicon-16x16.png');
}

ul li ul {
    list-style-type: circle;
    list-style-image: none;
}

ul li ul li ul {
    list-style-type: lower-roman;
}