* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: brown;
}

.brand {
    width: 10%;
    height: 100%;
    background-color: yellow;
}

.brand a {
    display: block;
    width: calc(100% - 20%);
    margin: 0px auto;
    background-color: pink;
}

.brand a img {
    width: 100%;
    height: 100%;
}

.nav {
    list-style-type: none;
    width: calc(100% - 10%);
    height: 100%;
    margin: 0 auto;
    background-color: red;
}