a {
    color: white;
    background-color: black;
}

a:link {
    color: red;
    background-color: rgb(74, 9, 9);
}

a:visited {
    color: aqua;
    background-color: tomato;
}

a:active {
    color: yellow;
    background-color: orange;
}

a:hover {
    color: blue;
}