* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(50, 7, 7, 0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.brand {
    width: 10%;
    height: 100%;
    float: left;
}

.brand a {
    display: block;
    width: calc(100% - 20%);
    height: 100%;
    margin: 0px auto;
}

.brand a img {
    width: 100%;
    height: 100%;
}

.nav {
    list-style-type: none;
    width: 50%;
    height: 100%;
    float: right;
}

.nav .nav-list {
    display: inline-block;
    border-right: 1px solid red;
}

.nav .nav-list:last-child {
    border: none;
}

.nav .nav-list .nav-item {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: tahoma;
    font-size: large;
    padding: 24px 10px;
    text-align: center;
}

.nav .nav-list .nav-item:hover {
    background-color: rgb(150, 148, 148);
}


.box {
    /* width: 700px; */
    /* max-width: 700px; */
    min-width: 700px;
    height: 300px;
    background-color: red;
}