:root {
    --color1: #5dae11;
    --color2: #00ff00;
    --bg-color: #1022c6;
}

.box1 {
    background-color: var(--color1);
}

.box1:first-child {
    background-color: orange;
}

.box1:first-child h1 {
    color: var(--color1);
}