.tv {
    width: 400px;
    height: 300px;
    background-color: black;
    padding: 10px 0;
    margin: 30px;
}

.monitor {
    width: 380px;
    height: 300px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}


.tv1 {
    width: 400px;
    height: 300px;
    background-color: gray;
    border: 10px solid red;
    outline: 15px solid black;
    outline-offset: 7px;
    margin: 50px;
}