* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

section {
    width: 300px;
    height: 200px;
    background-color: black;
    position: relative;
    left: 50%;
    top: 40%;
    /* transform: translate(-50%,-40%); */
}

div {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.box1 {
    left: 0px;
    top: 0px;
}

.box2 {
    left: 25px;
    top: 25px;
    background-color: cyan;
}

.box3 {
    left: 50px;
    top: 50px;
    background-color: navy;
}

.box4 {
    left: 75px;
    top: 75px;
    background-color: pink;
}

.box5 {
    left: 100px;
    top: 100px;
    background-color: olive;
}

.box6 {
    left: auto;
    right: 100px;
    top: 75px;
    background-color: beige;
}

.box7 {
    left: auto;
    right: 75px;
    top: 50px;
    background-color: rgb(88, 88, 67);
}

.box8 {
    left: auto;
    right: 50px;
    top: 25px;
    background-color: rgb(136, 136, 2);
}

.box9 {
    left: auto;
    right: 25px;
    top: 0px;
    background-color: rgb(50, 50, 6);
}
