* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-color: red;
    background-image: url('./img/bgheader/bg5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
}

.ads1 {
    width: 100%;
    height: 300px;
    background-image: url('./img/bgheader/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}