nav {
    width: 100%;
    height: 50px;
    background-color: red;
    position: sticky;
    left: 0;
    top: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

section {
    margin-top: 50px;
}

