/* a[target] {
    background-color: red;
}

a[target="_blank"] {
    background-color: orange;
}

input[type="text"] {
    color: cyan;
} */

/* [title] {
    background-color: yellow;   
} */

/* [title~="fanaven"] {
    background-color: navy;
} */
/* 
[title*="fanaven"] {
    background-color: navy;
} */

/* [title|="fanaven"] {
    background-color: pink;
} */

/* [title^="fanaven"] {
    background-color: navy;
} */

/* [title$="fanaven"] {
    background-color: navy;
} */

div {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    /* background-image: linear-gradient(red,blue,green,yellow); */
    /* background-image: linear-gradient(180deg,red,blue); */
    /* background-image: linear-gradient(red 20%,blue 40%,green); */
    /* background-image: repeating-linear-gradient(#e10019, #00601b); */

    /* background-image: radial-gradient(rgb(255, 204, 0),yellow 30%,cyan); */
    /* background-image: radial-gradient(rgb(255, 174, 0) 5%, yellow 15%, rgb(255, 255, 255) 60%); */
    /* background-image: radial-gradient(closest-side at 70% 60%, red, yellow, green); */
    /* background-image: radial-gradient(farthest-side at 70% 60%, red, yellow, green); */
    /* background-image: radial-gradient(closest-corner at 70% 60%, red, yellow, green); */
    /* background-image: radial-gradient(farthest-corner at 70% 60%, red, yellow, green); */
    /* background-image: repeating-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255) 5%, rgb(0, 0, 0) 7%); */

    /* background-image: conic-gradient(red, yellow 90deg, green 120deg); */
    background-image: conic-gradient(from 75deg,red, yellow, green);
    border-radius: 50%;
}