section.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

article.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition:  .5s ease;
}

section.container:hover .image {
    opacity: 0.3;
}

section:hover article {
    opacity: 1;
}

.text {
    color: white;
    background-color: bisque;
    font-size: 20px;
    padding: 16px;
}