/* 
Descendant combinator (space)
child combinator (>)
Next Sibling combinator (+)
Subsequent sibling combinator (~)
*/

/* div p {
    background-color: gray;
}

div > p {
    background-color: red;
} */

/* div + p {
    background-color: orange;
} */

div ~ p {
    background-color: pink;
}