div {
    width: 300px;
    height: 300px;
    /* background-color: red; */
    background-image: conic-gradient(red,blue,yellow);
    /* border-radius: 50%; */
    /* margin: 100px; */
    /* transform: translate(30px,30px); */
    /* transform: rotate(0); */
    /* transform: skew(86deg); */
    /* transform: skewX(44deg); */
    /* transform: skewY(25deg); */
    /* transform: matrix(0.5,-0.4,0,1,10,0); */
    /* transform: rotateX(140deg); */
    /* transform: rotateY(250deg); */
    /* transform: rotateZ(145deg); */
    /* transform: scale3d(-0.5,-0.5,2); */
    /* transform: translate3d(100px,100px,100px); */
    transform: perspective(300px) rotateY(30deg) scaleZ(5);
}
