div {
    width: 300px;
    height: 300px;
    /* background-color: red; */
    background-image: conic-gradient(red,blue,yellow);
    /* border-radius: 50%; */
    /* margin: 100px; */
    /* transform: translate(30px,30px); */
    /* transform: rotate(0); */
    /* transform: skew(86deg); */
    /* transform: skewX(44deg); */
    /* transform: skewY(25deg); */
    transform: matrix(0.5,-0.4,0,1,10,0);
}

div:hover {
    /* transform: translate(50px,50px); */
    /* transform: rotate(270deg); */
    /* transform: scale(1.5); */
    /* transform: scaleY(2); */
}
